.navbar-Logout{
    margin-Left:"5%";
     color: "#fff";
     cursor:"pointer";
}
.navbar-Logout :active{
    transform: translateY(4px);
    color: red !important;
}

.border {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    height: fit-content;
    background-color: #fff;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 20px !important;
    z-index: 2;
}

.button-search {
    border-radius: 10px !important;
}

.task-card{
    border-radius: 10px !important;
}

.button-search :active{
    transform: translateY(4px) !important;
}

.calendar-width{
    width: 17rem !important;
}

.week-stats-width{
    width: 13rem !important;
}